.bigbox, .headbox{
    padding: 20px;
   
}
.headbox{
    background: #fff;
}
.conbox{
    /* margin-top: 20px; */
    padding: 20px;
}
.headbox h3{
    font-weight: bold;
    width: 100%;
    height: 30px;
    line-height: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(172, 170, 170);
    display: flex;
    justify-content: space-between;
}
.headbox h3 p span{
    font-weight: normal;
    font-size: 14px;
    padding: 15px 10px;
    font-style: normal;
}
.active{
    border-bottom: 2px solid rgb(46, 158, 233);
}
.headbox h3 p span:hover{
    border-bottom: 2px solid rgb(17, 87, 134);
}

.title{
    height: 65px;
    background: #c0edf1;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    line-height: 65px;
}
 
.txt{
    display: block;
    height: 65px;
    border-left: 5px solid skyblue;
    padding-left: 20px;
    font-size: 20px;
    
}
.rightBtn span{
    padding: 5px;
    margin: 0 10px;
    background: rgb(60, 140, 233);
    color: #fff;
}
.titleList{
    height: 50px;
    background: rgb(60, 140, 233);
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}