.wrapper{
  height: 100%;
}
.logo{
  font-size: 20px;
  height: 64px;
  line-height: 64px;
  color: #fff;
  text-align: center;
  background: rgb(82, 107, 134);
}
.trigger{
  color: #fff;
  z-index: 99999999;
}
.head{
   justify-content: space-between;
   align-items: center;
}
.headRight{
   display: flex;
   align-items: center;
   margin-right: 10px;
}
.select > input{
  background: pink;

}
.choose{
  background: #526b86;
  border:0;
  color: #fff;
}
.choose:hover{
  background: #526b86;
}
.items{
  height: 80px;
}

