.wrapper{
  height: 100%;
}
.logo{
  font-size: 22px;
  height: 64px;
  color: #fff;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 28px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 42px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

